.content{
    padding:0 3rem;
    &.img-text{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1rem;
        @media(max-width:414px){
            grid-template-columns: 1fr;
        }
    }
    &.feature{
        .header{
            text-align: center;
            h2{
                font-size: 2rem;
            }
            p{
                font-size: 1.25rem;
            }
        }
    }
}