header{
    h2{
        font-size: 3.25rem;
        margin:2rem 0;
        color:white;
        text-shadow: 1px 1px 5px navy;
        text-transform: capitalize;
    }
    p{
        font-size: 1.5rem;
        font-weight: bold;
        margin:1rem 0;
        color:yellow;
        text-shadow: 1px 1px 5px navy;
    }
    .content{
        &.full{
            height:400px;
            background-image: url('dist/imgs/hbg.jpeg');
            background-size: cover;
            background-position: center;
            @media(max-width:414px){
                height:100vh;
            }
        }
        &-text{
            margin:0 3rem;
            @media(max-width:414px){
                margin:0 1rem;
            }
        }
        overflow: auto;
    }
}